<% provide :title, t("tours.admin_tour") %>
<div class="col-sm-12 col-md-12 col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"><i class="fa fa-list-alt icon_user" id="icon_list"></i>
        <%= t "list_tour" %>
      </h3>
      <div class="box-tools">
        <%= search_form_for [:admin, @q] do |f| %>
        <div class="input-group input-group-sm text-right" id="input_search">
          <%= f.text_field :name_or_location_from_or_location_to_cont, placeholder: t("look_for_tour"), class: "form-control" %>
          <div class="input-group-btn">
            <%= f.submit class: "btn btn-default fa fa-search" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-responsive table-hover table-bordered border-user">
        <thead class="bordered-blueberry table_color">
          <tr>
            <th class="index_number"><%= t "index" %></th>
            <th class="text-center"><%= t "name" %></th>
            <th class="width_from text-center"><%= t "tours.date_from" %></th>
            <th class="width_from text-center"><%= t "tours.date_to" %></th>
            <th class="width_local text-center"><%= t "tours.location_from" %></th>
            <th class="width_local text-center"><%= t "tours.location_to" %></th>
            <th class="text-center"><%= t "tours.price" %></th>
            <th class="text-center"><%= t "tours.status" %></th>
            <th class="text-right"><%= link_to t("add"), new_admin_tour_path, class: "btn btn-primary fa fa-car icon_add" %></th>
          </tr>
        </thead>
        <tbody>
          <% @tours.each_with_index do |tour, index| %>
          <tr>
            <td><%= pages_number index, params[:page] %></td>
            <td><%= tour.name.truncate Settings.tours.truncate %></td>
            <td><%= tour.date_from %></td>
            <td><%= tour.date_to %></td>
            <td><%= tour.location_from %></td>
            <td><%= tour.location_to %></td>
            <td class="text-right"><%= tour.price.round Settings.tours.round %></td>
            <td class="text-center" id="tour_status-<%= tour.id %>">
              <% if tour.close? %>
                <%= link_to t("tours.btn_close"), admin_status_path(tour),class: "btn btn-danger fa fa-close", method: :patch, remote: true %>
              <% else %>
                 <%= link_to t("tours.btn_open"), admin_status_path(tour),class: "btn btn-success fa fa-check-circle", method: :patch, remote: true %>
              <% end %>
            </td>
            <td class="action text-center">
              <%= link_to t("show"), admin_tour_path(tour), class: "btn btn-info fa fa-info-circle" %>
              <%= link_to t("edit"), edit_admin_tour_path(tour), class: "btn btn-success fa fa-edit"%>
              <%= link_to t("del"), admin_tour_path(tour), class: "btn btn-danger fa fa-trash", method: :delete,
                  data: {confirm: t("are_you_sure")} %>
            </td>
          </tr>
          <% end %>
        </tbody>
        </thead>
      </table>
      <div class="text-right pages_custom">
        <%= paginate @tours, theme: 'twitter-bootstrap-3' %>
      </div>
    </div>
  </div>
</div>
