<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t "tour_name" %></th>
      <th><%= t "number_people" %></th>
      <th><%= t "created_at" %></th>
      <th><%= t "status" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @bookings.present? %>
      <%= render partial: "bookings/booking", collection: @bookings %>
    <% end %>
  </tbody>
</table>
<div class="pagination justify-content-end">
  <%= paginate @bookings %>
</div>

