<ul>
  <li>
    <b><%= t "app.sign_up.username" %></b>
    <i><%= @user.name %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.email" %></b>
    <i><%= @user.email %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.phone" %></b>
    <i><%= @user.phone %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.address" %></b>
    <i><%= @user.address %></i>
  </li>
  <% if current_user? @user %>
    <%= link_to t("app.users.edit"), edit_user_path(current_user), class: "btn btn-primary" %>
    <%= link_to t("app.users.list_booking"), bookings_path, class: "btn btn-primary" %>
    <%= link_to t("app.review.list_review"), reviews_path, class: "btn btn-primary" %>
  <% end %>
</ul>
