<p><%= t "devises.hello" %> <%= @resource.email %>!</p>
<p><%= t "devises.request_link" %></p>
<p><%= link_to t("devises.change_my_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t "devises.not_request" %></p>
<p><%= t "devises.create_new_pass" %></p>
