<header class="navbar navbar-fixed-top navbar-default ">
  <div class="container">
    <%= link_to t("app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="navbar-right" id="language">
        <li><%= link_to "VN", locale:"vi" %></li>
        <li><%= link_to "EN", locale:"en" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("app.home"), root_path %>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to t("profile"), edit_user_registration_path %></li>
          <% if is_admin? %>
            <li>
              <%= link_to "Admin",  admin_dasboard_index_path%>
            </li>
          <% end %>
          <li><%= link_to t("app.login.logout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("app.login.login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
